.text-center{
    color:#873565;
}

.text-left{
    color:#873565;
}

.col-sm-12{
    color:#873565;
}

.card-body{
    color:#873565;
    text-transform: capitalize;
}

.card-header{
    background-color:#873565;
    text-transform: capitalize;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #873565;
  }
  
  .container input:checked ~ .checkmark {
    background-color:#873565 ;
  }
[type="button"]{
    background-color: #873565;
    color:white;
}

[type="submit"]{
    background-color:#873565;
    color:white;
    align-items: center;
}